.ssh/
dist/
tmp/
out-tsc/
build/
.nyc_output/
node_modules/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.sass-cache/
connect.lock/
coverage/
typings/
docs/
debug*
*.txt
*.js
*.d.ts
*.js.map
*.pid
*.log
*.swp
*.tgz
.env
.eslintrc
.editorconfig
.gitlab-ci.yml
.DS_Store
Thumbs.db
