.gitignore
.travis.yml
.dockerignore
.ssh/
.nyc_output/
.idea/
.project
.classpath
.c9/
.settings/
.vscode/
.sass-cache/
node_modules/
dist/
tmp/
out-tsc/
build/
connect.lock/
coverage/
typings/
docs/
test/
debug*
*.sublime-workspace
*.launch
*.pid
*.log
*.tgz
!*.d.ts
!index.ts
!*.js.map
.DS_Store
.env
.eslintrc
.editorconfig
.gitlab-ci.yml
Dockerfile
Thumbs.db
tsconfig.json
nodemon.json
bin
